<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LoBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="LoBridge.Properties.Settings.wdbConnectionString"
   connectionString="Data Source=192.168.1.7\dlws;Initial Catalog=DLWS;User ID=sa;Password=dareen;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="LoBridge.Properties.Settings.DemoCString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\DemoDB\DLWS.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
  <add name="LoBridge.Properties.Settings.DevString" connectionString="Data Source=log\dlws;Initial Catalog=dlws;User ID=sa;Password=dareen" />
 </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
	<userSettings>
		<LoBridge.Properties.Settings>
   <setting name="license" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="startdate" serializeAs="String">
    <value />
   </setting>
   <setting name="enddate" serializeAs="String">
    <value>2026-01-01</value>
   </setting>
   <setting name="firstrun" serializeAs="String">
    <value>yes</value>
   </setting>
   <setting name="logedUN" serializeAs="String">
    <value />
   </setting>
   <setting name="User_Permission" serializeAs="String">
    <value>a</value>
   </setting>
   <setting name="panelImage" serializeAs="String">
    <value>Resources\Oilexbg.jpg</value>
   </setting>
   <setting name="SHOT" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="WBridge" serializeAs="String">
    <value>BridgeName</value>
   </setting>
   <setting name="areacam" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Urole" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="mail" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="theme" serializeAs="String">
    <value>new</value>
   </setting>
   <setting name="inwcam" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="outwcam" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="wcardsize" serializeAs="String">
    <value>A5</value>
   </setting>
   <setting name="dbinternetSource" serializeAs="String">
    <value>--</value>
   </setting>
   <setting name="serialcom" serializeAs="String">
    <value>COM1</value>
   </setting>
   <setting name="lastuser" serializeAs="String">
    <value />
   </setting>
   <setting name="devmode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="server" serializeAs="String">
    <value>192.168.1.7\dlws</value>
   </setting>
   <setting name="databse" serializeAs="String">
    <value>dlws</value>
   </setting>
  </LoBridge.Properties.Settings>

	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
